@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Lexend', sans-serif;
body {
    font-family: $font;
    overflow: hidden;
}
input {
    font-family: $font;
}

$dark-purple: rgba(13,14,70,255); 
$medium-purple: rgba(80,52,255,255);
$medium-purple-hover: rgba(68,44,218,255);
$light-purple: rgba(108,108,255,255);
$light-purple-hover: rgba(92,92,218,255);
$lighter-purple: rgba(70,71,112,255);
$lightest-purple: rgba(178,177,255,255);
$lightest-purple-hover: rgba(152,152,218,255);
$white: rgba(255,255,255,255);
$light-grey: rgba(247,247,247,255);


$magenta: rgba(255,21,138,255); //magenta splash1
$purple: rgba(162,93,220,255); //purple  splash2
$orange: rgba(255,153,0,255); // orange splash3
$orange-2: rgba(241, 175, 84, 255);
$fuschia: rgba(240,64,149,255); // fuschia splash4
$blue: rgba(0,154,255,255); // blue splash5
$turqoise: rgba(0,210,210,255); // turqoise splash6
$skyblue: rgba(87,155,252,255); // skyblue splash7
$blush: rgba(255,117,117,255); // blush splash8
$teal: rgba(78,204,198,255); // teal splash9
$yellow: rgba(255,203,0,255);
$light-yellow: rgba(255,229,128,255);
$green: rgba(3,127,76,255);
$light-green: rgba(129,191,166,255);


$login-dark-blue: rgba(13,145,202,255);
$login-light-blue: rgba(167,209,242,255);
$login-blue: rgba(15,162,226,255);
$login-darker-grey: rgba(111,111,111,255);
$login-dark-grey: rgba(204,204,204,255);
$login-grey: rgba(238,238,238,255);
$login-red: rgba(226,68,92,255);

$signup-blue: rgba(0,115,234,255);
$signup-darker-blue: rgba(0,96,185,255);
$signup-grey: rgba(230,233,239,255);

$side-nav: rgba(41,47,76,255);
$side-nav-hover: rgba(16,19,30,255);
$side-nav-selected: rgba(106,110,130,255);
$white-2: rgba(245,246,248,255);
$white-3: rgba(255,255,255,255);

$board-bar-blue: rgba(49, 113, 226, 255);
$board-bar-blue-2: rgba(40, 94, 178, 255);
$board-bar-blue-3: rgba(45, 103, 202, 255);