.workspace-nav-wrapper {
    display: flex;
    // background-color: $white-2;
    // max-width: 200px;
    button {
        position: relative;
        top: 20px;
        left: 10px;
        height: 20px;
        width: 20px;
        align-self: flex-start;
        border: 1px solid $login-grey;
        border-radius: 10px;
        background-color: $white-3;
        transition: 0.2s;
        &:hover {
            background-color: $blue;
            .workspace-arrow {
                color: $white;
            }
        }
    }
}

.workspace-nav-hidden {
    display: none;
}

.workspace-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    width: 100%;
    

}

.workspace-nav-selector {
    display: flex;
    justify-content: space-between;
    width: 12em;
    margin: 0.4em 0 0.4em;
    padding: 0.3em;
    border: 1px solid $login-darker-grey;
    border-radius: 5px;
    cursor: pointer;
}

.workspace-nav-dropdown-hidden {
    display: none;
}

.workspace-nav-dropdown {
    position: absolute;

    display: flex;
    top: 3.5em;
    left: 0.5em;
    flex-direction: column;
    z-index: 1;
    width: 200px;
    background-color: $white-3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em $login-dark-grey;

    >span, >div {
        padding: 0.3em;
        margin: 0.3em;
        >a {
            padding: 0.3em;
        }
    }

    >ul {
        margin: 0.3em;
    }

    .workspace-link-wrapper {
        width: 95%;
        padding: 0.3em;
        .workspace-link {
            text-decoration: none;
            color: black;
        }
        &:hover {
            background-color: $login-grey;
            border-radius: 0.3em;
            max-width: 100%;
        }
    }
}


.workspace-nav-c-r {
    cursor: pointer;
    &:hover {
        background-color: $login-grey;
        border-radius: 0.3em;

    }
}



.board-menu {
    position: absolute;
    z-index: 1;
    left: 10em;
    top: 2em;
    background-color: $white-3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em $login-dark-grey;
    width: 11em;
    li {
        display:flex;
        justify-content: flex-start;
        padding: 0.3em;
        margin: 0.3em;
        cursor: pointer;

        span {
            width: 20%;
        }
        &:hover {
            background-color: $login-grey;
            border-radius: 0.3em;
        }
    }
}

.workspace-nav-create-board {
    text-decoration: none;
    cursor: pointer;
    padding: 0.3em;
    margin: 0.3em 0 0.3em;
    &:hover {
        border-radius: 0.3em;
        background-color: $login-grey;
    }
}

.workspace-nav-boards {
    border-top: 1px solid $login-dark-grey;
    padding-top: 0.3em;
}

.board-menu-btn {
    display: none;
}

.board-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    // padding: 0px;
    
    .board-item-link {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
    }

    .board-item-link-wrapper {
        height: 100%;
        padding: 0.3em;
    }

    &:hover {
        border-radius: 0.5em;
        background-color: $login-grey;
        .board-menu-btn {
            display: inline; 
            padding-right: 0.3em;
        }
    }

}

// .board-item-u-d-wrapper {
//     display: flex;
//     justify-content: space-evenly;
// }

// .board-item-u-d {
//     color: $side-nav;
// }


