.workspace-nav-wrapper {
    display: flex;
    // background-color: $white-2;
    // max-width: 200px;
    button {
        position: relative;
        top: 20px;
        left: 10px;
        height: 20px;
        width: 20px;
        align-self: flex-start;
        border: 1px solid $login-grey;
        border-radius: 10px;
        background-color: $white-3;
        transition: 0.2s;
        &:hover {
            background-color: $blue;
            .workspace-arrow {
                color: $white;
            }
        }
    }
}

.workspace-nav-hidden {
    display: none;
}

.workspace-nav {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    > div > span, div, ul {
        padding: 5px;
    }
}

.workspace-nav-selector {
    display: flex;
    justify-content: space-between;
    
    border: 1px solid $login-darker-grey;
    border-radius: 5px;
    cursor: pointer;
}

.workspace-nav-dropdown-hidden {
    display: none;
}

.workspace-nav-dropdown {
    position: fixed;

    display: flex;
    top: 60px; left: 90px;
    flex-direction: column;

    width: 200px;
    background-color: $white-3;
    border-radius: 10px;
    box-shadow: 0 0 4px $login-dark-grey;

}

.workspace-nav-wrapper .workspace-link-wrapper {
    margin: 5px;
    // width: 100%;
    .workspace-link {
        text-decoration: none;
        color: black;
    }
    &:hover {
        background-color: $login-grey;
        border-radius: 5px;
    }
}

.workspace-nav-c-r {
    cursor: pointer;
    &:hover {
        background-color: $login-grey;
        border-radius: 5px;

    }
}


.board-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board-menu {
    position: fixed;
    left: 270px;
    background-color: $white-3;
    border-radius: 10px;
    box-shadow: 0 0 4px $login-dark-grey;
    width: 160px;
    li {
        display:flex;
        justify-content: flex-start;
        padding: 5px;
        cursor: pointer;

        span {
            width: 20%;
        }
        &:hover {
            background-color: $login-grey;
            border-radius: 5px;
        }
    }
}

.workspace-nav-create-board {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-radius: 5px;
        background-color: $login-grey;
    }
}

.workspace-nav-boards {
    border-top: 1px solid $login-dark-grey;
}

.board-menu-btn {
    display: none;
}

.board-item-wrapper {
    cursor: pointer;
    min-height: 30px;
    .board-item-link {
        text-decoration: none;
        color: black;
    }

    &:hover {
        border-radius: 5px;
        background-color: $login-grey;
        .board-menu-btn {
            display: inline; 
        }
    }

}

// .board-item-u-d-wrapper {
//     display: flex;
//     justify-content: space-evenly;
// }

// .board-item-u-d {
//     color: $side-nav;
// }


