.board-menu-bar {
    display: flex;
    position: relative;
    width: 90%;
    padding: 1em 0 1em 0;
    border-top: 1px solid $login-dark-grey;
}

.new-item-split-btn {
    display: flex;
    margin-right: 1em;
}

.new-item-btn {
    background-color: $board-bar-blue;
    color: $white;
    padding: 0.5em;
    font-size: 0.9rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: $board-bar-blue-2;
    }
}

.new-item-dropwdown {
    position: absolute;
    display: inline-block;
}

.new-item-dropdown-content {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: $white-3;
    box-shadow: 0 0 0.5em $login-dark-grey;
    border-radius: 0.4em;
    padding: 0.5em;
    
    li:hover {
        cursor: pointer;
        background-color: $login-dark-grey;
    }

}

// .new-item-dropdown:hover .new-item-dropdown-content {
//     display: block;
// }