.board-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 30px;
    background-color: $white-3;
}

.board-title-bar {
    // align-self: flex-start;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.board-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.add-group-btn {
    font-size: 14px;
    color: $login-darker-grey;
    width: 140px;
    height: 35px;
    border: 1.5px solid $login-dark-grey;
    border-radius: 5px;
    background-color: $white;
    cursor: pointer;
    &:hover {
        background-color: $login-grey;
    }
}

.board-member-invite-btn {
    font-size: 14px;
    color: $login-darker-grey;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    cursor: pointer;
    &:hover {
        background-color: $login-grey;
    }
}
