.item-cell {
    height: 1.8em;

    > ul {
        width: 100%;
        > li {
            height: 100%;
            width: 100%;
            // display: flex;
            // align-items: center;
            > span {
                height: 100%;
                width: 100%;
                margin-top: 0.5em;
                // text-align: center;
                // align-self: center;
                // place-self: center;
            }
        }
    }
}

.item-people {
    &:hover {
        border: 1px dashed $login-dark-grey;
    }

    > li {
        font-size: 14px;
    }
}

.cell-edit-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    >span {
        padding: 0.2em 0 0 0.3em;
    }
}

.cell-edit {
    width: 8em;
    position: absolute;
    top: 2em;
    background-color: $white-3;
    box-shadow: 0 0 0.5em $login-dark-grey;
    border-radius: 0.3em;
    padding: 0.5em;
    cursor: pointer;
    z-index: 1;

    li:hover {
        font-weight: 700;
        border-radius: 0.3em;
    }
}



.working, .stuck, .done, .none {
    transition: 0.2s;
    &:hover {
        border-radius: 0 1em 0 0;
    }
}

.item-person-edit-option, #status-edit-0, #status-edit-1, #status-edit-2, #status-edit-3 {
    padding: 0.3em 0.2em 0.3em 0.2em;
}

#status-edit-0, .working {
    font-size: 0.9rem;
    color: $white;
    background-color: $orange-2;
    // padding: 0.3em 0.2em 0.3em 0.2em;
}
#status-edit-1, .stuck {
    font-size: 0.9rem;
    color: $white;
    background-color: $login-red;
}
#status-edit-2, .done {
    font-size: 0.9rem;
    color: $white;
    background-color: $green;
}
#status-edit-3, .none {
    font-size: 0.9rem;
    color: $login-dark-grey;
    background-color: $login-dark-grey;
}

.date-picker {
    z-index: -1;
    height: 1.8em;
   width: 112px;
   border: none;
   cursor: pointer;
   background-color: $light-grey;
   &:hover {
        border: 1px dashed $login-dark-grey;
    }
}