.column-headers {
    // flex-grow: 3;
    display: grid;
    // justify-content: flex-start;
    grid-auto-columns: 120px;
    grid-auto-flow: column;

    .column-header {
        // flex: 1;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid $login-grey;
        margin: 2px 0 2px;

        &:hover {
            background-color: $login-grey;
        }
    }
}
#column-add {
    cursor: pointer;
}
.col-menu {
    position: absolute;
    top: 2em;
    padding: 10px;
    background: $white-3;
    border-radius: 10px;
    box-shadow: 0px 0px 4px $login-dark-grey;
    z-index: 1;
    li:hover {
        background-color: $login-grey;
    }
}

// .column-header {
//     // padding: 2px 0 2px 0;
// }

.col-0 {
    width: 300px;
    margin: 2px 0 2px;
    padding: 2px 0 2px 0;
}

.col {
    // width: 120px;
    margin: 2px 0 2px;
    padding: 2px 0 2px 0;
}


.col-edit-button {
    cursor: pointer;
}