.item-row {
    cursor: pointer;
    &:hover { 
        background-color: $login-grey;
    }
    display: grid;
    grid-template-columns: 20px 2fr 1fr;
    grid-template-rows: 22px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.item-name {
    // flex-grow: 2;
    align-self: center;
    input:disabled {
        border: none;
        background-color: inherit;
    }

    &:hover {
        .magenta {
            color: $magenta;
        }
        .purple {
            color: $purple;
        }
        .orange {
            color: $orange;
        }
        .fuschia {
            color: $fuschia;
        }
        .blue {
            color: $blue;
        }
        .turqoise {
            color: $turqoise;
        }
        .skyblue {
            color: $skyblue;
        }
        .blush {
            color: $blush;
        }
        .teal {
            color: $teal;
        }
        .yellow {
            color: $yellow;
        }
        .green {
            color: $green;
        }
    
    }
}

.item-rename {
    color: $login-darker-grey;
    font-size: 0.8rem;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin-left: 0.5em;
    border-radius: 12%;
    &:hover {
        background-color: $white;
    }
}

.item-edit-button {
    // color: $white;
    padding: 0px 2.5px 0px 2.5px;
    border-radius: 50%;
}

.item-edit {
    position: fixed;
    padding: 10px;
    background: $white-3;
    border-radius: 10px;
    box-shadow: 0px 0px 4px $login-dark-grey
}

.item-cells {
    flex-grow: 3;
    // display: flex;
    // justify-content: flex-start
    align-self: center;
    display: grid;
    grid-auto-columns: 120px;
    grid-auto-flow: column;
    .item-cell {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.add-item {
    margin-top: 10px;
    margin-bottom: 20px;

    input {
        width: 99%;
        // max-width: 900px;
        &:hover {
            outline: 1px solid black;
        }
        &:focus {
            outline: 1px solid $signup-blue;
        }
    }
    .add-item-btn {
        cursor:pointer;
        &:hover .item-submit {
            color: $green;
        }
        &:hover .item-cancel {
            color: $login-red;
        }
    }
}

.item-edit-wrapper {
    align-self: center;
    cursor:pointer;
    .magenta {
        color: $magenta;
    }
    .purple {
        color: $purple;
    }
    .orange {
        color: $orange;
    }
    .fuschia {
        color: $fuschia;
    }
    .blue {
        color: $blue;
    }
    .turqoise {
        color: $turqoise;
    }
    .skyblue {
        color: $skyblue;
    }
    .blush {
        color: $blush;
    }
    .teal {
        color: $teal;
    }
    .yellow {
        color: $yellow;
    }
    .green {
        color: $green;
    }

}