.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > div {
            margin: 20px 0 20px 0;
        }
    }
}

.side-nav-btn-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $side-nav-hover;
        border-radius: 10px;
    }
}
.active-route {
    background-color: $side-nav-selected;
    border-radius: 10px;
    &:hover {
        background-color: $side-nav-selected;
        border-radius: 10px;
    }
}

.side-nav-btn {
    cursor: pointer;
    color: $white;
}

.side-nav-user-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    color: $white;
    border: 2px solid $white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: 0.2s;

    &:hover {
        transform: scale(0.9);
    }
}

.side-nav-bot {
    position: relative;
}
.side-nav-user-options {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    // bottom: 10px; left: 65px;
    // padding: 10px;
    left: 4.2em;
    bottom: 1em;
    padding: 0.5em;
    background-color: $white-3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em $login-dark-grey;

    .side-nav-user-account {
        margin-bottom: 10px;
    }
    .side-nav-user-option {
        text-decoration: none;
        color: $login-darker-grey;
        
        cursor: pointer;
    }
}

.side-nav-user-option-wrapper {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    &:hover {
        background-color: $login-dark-grey;
    }
}
