#demo-login-link {
    cursor: pointer;
}

.nav-link {
    color: black;
    span {
        font-weight: 700;
        font-size: 28px;
    }
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $light-grey;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;

}

.nav-bar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
}

.right-nav {
    width: 350px;
}

.splash {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;    
    // width: 100%;
    padding-top: 12%;
    // padding-bottom: 50%;
    color: $white;
    background-color: $dark-purple;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        font-size: 72px;
        max-width: 720px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 100px;
    }
}

.get-started-btn-1 {
    font-size: 14px;
    color: $white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: $light-purple;
    cursor: pointer;
}

.get-started-btn-2 {
    font-size: 18px;
    color: $white;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, $medium-purple 30%, $lightest-purple);
    cursor: pointer;
}

.work-list {
    width: 1250px;
    display: flex;
    justify-content: space-between;

}

.splash-checkbox-container {
    display: block;
    position: relative;
    width: 110px;
    height: 110px;
    padding-left: 15px;
    padding-top: 15px;
    border: 1px solid $lighter-purple;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.splash-checkbox-name {
    display: block;
    position: absolute;
    top: 80px;

}

.splash-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border: 1px solid $lighter-purple;
    border-radius: 3px;
}

#splash-checkbox-1:hover {
    border-color: $splash-1;
    input ~ .checkmark {
        border-color: $splash-1;
    }
}
#splash-checkbox-2:hover {
    border-color: $splash-2;
    input ~ .checkmark {
        border-color: $splash-2;
    }
}
#splash-checkbox-3:hover {
    border-color: $splash-3;
    input ~ .checkmark {
        border-color: $splash-3;
    }
}
#splash-checkbox-4:hover {
    border-color: $splash-4;
    input ~ .checkmark {
        border-color: $splash-4;
    }
}
#splash-checkbox-5:hover {
    border-color: $splash-5;
    input ~ .checkmark {
        border-color: $splash-5;
    }
}
#splash-checkbox-6:hover {
    border-color: $splash-6;
    input ~ .checkmark {
        border-color: $splash-6;
    }
}
#splash-checkbox-7:hover {
    border-color: $splash-7;
    input ~ .checkmark {
        border-color: $splash-7;
    }
}
#splash-checkbox-8:hover {
    border-color: $splash-8;
    input ~ .checkmark {
        border-color: $splash-8;
    }
}
#splash-checkbox-9:hover {
    border-color: $splash-9;
    input ~ .checkmark {
        border-color: $splash-9;
    }
}



.splash-checkbox-container input:checked ~ .checkmark {
    background-color: #ccc; 
}


.splash > p {
    font-size: 14px;
}