$dark-purple: rgba(13,14,70,255); 
$medium-purple: rgba(80,52,255,255);
$light-purple: rgba(108,108,255,255);
$lighter-purple: rgba(70,71,112,255);
$lightest-purple: rgba(178,177,255,255);
$white: rgba(255,255,255,255);
$light-grey: rgba(247,247,247,255);


$splash-1: rgba(255,21,138,255);
$splash-2: rgba(162,93,220,255);
$splash-3: rgba(255,153,0,255);
$splash-4: rgba(240,64,149,255);
$splash-5: rgba(0,154,255,255);
$splash-6: rgba(0,210,210,255);
$splash-7: rgba(87,155,252,255);
$splash-8: rgba(255,117,117,255);
$splash-9: rgba(78,204,198,255);

$login-dark-blue: rgba(13,145,202,255);
$login-light-blue: rgba(167,209,242,255);
$login-blue: rgba(15,162,226,255);
$login-darker-grey: rgba(111,111,111,255);
$login-dark-grey: rgba(204,204,204,255);
$login-grey: rgba(238,238,238,255);

$signup-blue: rgba(0,115,234,255);